h2{
text-algin: center;
margin-top: 3rem;
padding: 0.8rem;
font-size 3rem;
font-family: sans-serif;
}

h1{
text-algin: center;
margin-top: 3rem;
padding: 0.8rem;
font-size 3rem;
font-family: sans-serif;
color: blue;
}
